<form>
    <header>
        <div>Админка</div>
        <img src="/assets/images/logo.png">
    </header>
    <div class="row">
        <div class="input-group">
            <div class="library">Библиотека</div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="/libraries/view">Просмотр</a></li>
                    <li><a href="/libraries">Редактирование</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <div class="library">Сотрудник</div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="/employees/view">Просмотр</a></li>
                    <li><a href="/employees">Редактирование</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <div class="library">Абонент</div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="/abonents/view">Просмотр</a></li>
                    <li><a href="/abonents">Редактирование</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <div class="library">Книга</div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="/books/view">Просмотр</a></li>
                    <li><a href="/books">Редактирование</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <div class="library">Выдача</div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="/deliveries/view">Просмотр</a></li>
                    <li><a href="/deliveries">Редактирование</a></li>
                </ul>
            </div>
        </div>
    </div>
</form>