<p id="notice"><%= notice %></p>

<h1>Listing Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Adress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.number %></td>
        <td><%= library.name %></td>
        <td><%= library.adress %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<li><a href="/admin/index">Home</a></li>