// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form{
  width: 40%;
  margin: 0 auto !important;

  header{
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #dddddd;
    background-color: #0e90d2;
  }

  .row{
    margin: 5% 0;

    .input-group{
      margin: 3% 0;
    }
  }
}
.library{
  font-size: 30px;
}